main {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin:auto;
}

.hidden {
    display:none;
}

.results-img {
    margin: 10px 0;
}

div {
    display: flex;
    flex-direction: column;
    margin:auto;
    width:201px;
}

label, input {
    margin: 20px 0;
}

button {
    width: 80px;
    margin: auto;
}

a {
    margin: 20px 0;
}